.git
.gitignore
.venv
.vkbottle

**/__pycache__
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
**/*.egg-info
**/*.py[cod]

tests
docs
tools
killing_margo
lora_dein

.env
.env.*
**/.env
**/.env.*
*.log
.coverage
htmlcov
